@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kreiranje aranzmana:</h2>
<div style="color : red">
    @ViewBag.Message
</div>
<form action="/MenadzerFun/IzmeniA" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                Naziv:
            </td>
            <td>
                <input type="text" name="naziv" value="@ViewBag.aranzmani.Naziv"/>
            </td>
        </tr>
        <tr>
            <td>
                Tip aranzmana:
            </td>
            <td>
                <select name="tipAranzmana">
                    <option value=""></option>
                    <option value="NOCENJESADORUCKOM">NOCENJESADORUCKOM</option>
                    <option value="POLUPANSION">POLUPANSION</option>
                    <option value="PUNPANSION">PUNPANSION</option>
                    <option value="ALLINCLUSIVE">ALLINCLUSIVE</option>
                    <option value="NAJAMAPART">NAJAMAPART</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Tip prevoza:
            </td>
            <td>
                <select name="tipPrevoza">
                    <option value=""></option>
                    <option value="AUTOBUS">AUTOBUS</option>
                    <option value="AVION">AVION</option>
                    <option value="BUSAVION">BUSAVION</option>
                    <option value="OSTALO">OSTALO</option>
                    <option value="INDIVUALAN">INDIVUALAN</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Lokacija:
            </td>
            <td>
                <input type="text" name="lokacija"  value="@ViewBag.aranzmani.Lokacija" />
            </td>
        </tr>
        <tr>
            <td>Datum pocetka putovanja:</td>
            <td>
                <input type="date"  name="datumPocetkaPutovanja" max="@DateTime.Now"  value="@ViewBag.aranzmani.DatumPocetkaPutovanja.ToString("dd/MM/yyyy")" /><br />
            </td>
        </tr>
        <tr>
            <td>Datum zavrsetka putovanja:</td>
            <td>
                <input type="date"  name="datumZavrsetkaPutovanja" max="@DateTime.Now" value="@ViewBag.aranzmani.DatumZavrsetkaPutovanja.ToString("dd/MM/yyyy")"/><br />
            </td>
        </tr>
        <tr>
            <td>
                Mesto nalazenja adresa:<br />(uneti u formatu: adresa, grad, postanski broj)
            </td>
            <td>
                <input type="text" name="adresa" value="@ViewBag.aranzmani.MestoNalazenja.Adresa" />
            </td>
        </tr>
        <tr>
            <td>
                Geografska sirina:<br />
            </td>
            <td>
                <input type="text" name="gsirina" value="@ViewBag.aranzmani.MestoNalazenja.GeografskaSirina" />
            </td>
        </tr>
        <tr>
            <td>
                Geografksa duzina:<br />
            </td>
            <td>
                <input type="text" name="gduzina" value="@ViewBag.aranzmani.MestoNalazenja.GeografskaDuzina" />
            </td>
        </tr>
        <tr>
            <td>
                Vreme nalazenja:
            </td>
            <td>
                <input type="time" name="vremeNalazenja" value="@ViewBag.aranzmani.VremeNalazenja.ToString("HH:mm")"/>
            </td>
        </tr>
        <tr>
            <td>
                Max broj putnika:
            </td>
            <td>
                <input type="number" name="brputnika" value="@ViewBag.aranzmani.MaxBrojPutnika" />
            </td>
        </tr>
        <tr>
            <td>
                Opis:<br />
            </td>
            <td>
                <input type="text" name="opis" value="@ViewBag.aranzmani.Opis"/>
            </td>
        </tr>
        <tr>
            <td>
                Program:<br />
            </td>
            <td>
                <input type="text" name="program" value="@ViewBag.aranzmani.Program" />
            </td>
        </tr>
        <tr>
            <td>
                Poster:
            </td>
            <td>
                <input type="file" name="poster" />
            </td>
        </tr>
         <tr>
            <td>
                Smestaj:
            </td>
            <td>

                <select name="smestaj">
                    <option value=""></option>
                    @foreach (var s in ViewBag.Smestaj)
                    {
                        <option value="@s.Id">@s.Naziv</option>
                    }
                </select>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                <input type="text" name="id_aranzmana" value="@ViewBag.aranzmani.Id" hidden />
                <input type="submit" value="Modifikuj" />
            </td>
        </tr>
    </table>
</form>
<br />
<a href="~/MenadzerFun/Aranzmani">Nazad</a>